* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
   background-color: rgb(32, 32, 32);
   background-image: url(https://janschreiber.github.io/img2/black-chalk.jpg);
   color: rgb(230, 230, 230);
   text-align: center;
   font-family: 'Indie Flower', 'Comic Sans', cursive;
   font-size: 0.7em;
}

section {
	margin: 70px 0;
   text-align: center;
}

.game--title {
   font-size: 100px;
   margin: 0 auto;
}

.game--container {
   display: grid;
   grid-template-columns: repeat(3, auto);
   width: 306px;
   margin: 30px auto;
   background-color: #11213a;
   color: #04c0b2;
}

.cell {
   font-family: "Permanent Marker", cursive;
   width: 100px;
   height: 100px;
   box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
   border: 2px solid rgb(230, 230, 230);
   cursor: pointer;
   line-height: 100px;
   font-size: 60px;
}

.game--status {
   font-size: 50px;
   margin: 20px auto;
}

.game--restart {
	width: 200px;
   height: 50px;
   font-size: 25px;
}